$bodyBckgColor: #F5F5F5;

* {
   box-sizing: border-box;
}

body {
   font-family: 'Roboto', sans-serif;
   background-color: $bodyBckgColor;
}

.wrapper {
   width: 1320px;
   margin: 0 auto;
}

a {
   text-decoration: none;
}

ul{
   list-style: none;
   padding: 0;
}

p{
   margin: 0;
}

input[type=radio] {
   display: none;
}