.footer {
   background: #333333;
   padding: 100px 0 129px 0;
}

.container {
   @include flexCenter();
   justify-content: space-between;
   width: 100%;
}

.footer-menu {
   display: flex;
   justify-content: flex-start;
   gap: 47px;
   width: calc(100%/3);
}

.footer-menu__link {
   font-weight: 500;
   @include font();
   color: #FFFFFF;
}

.footer-icons {
   display: flex;
   justify-content: center;
   gap: 20px;
   width: calc(100%/3);
}

.footer-contacts {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   width: calc(100%/3);

   &__logo {
      margin-right: 9px;
   }

   &__tel {
      @include font();
      color: #FFFFFF;
   }
}