.header {
   background-color: $headerColor;
   padding: 33px 0 30px 0;
}

.logo {
   @include flexBetween();
   align-items: center;
   margin-bottom: 42px;
}

.contacts {
   @include flexCenter;
   position: relative;

   &__phone-icon {
      margin-right: 9px;
   }

   &__tel {
      font-weight: 400;
      @include font();
      color: #000000;
      margin-right: 60px;
   }

   &__link-buy {
      margin-right: 15px;
   }
}

.contacts__link {
   position: relative;
}

.contact__link-number {
   position: absolute;
   left: 15px;
   bottom: 18px;
}

.nav {
   @include flexBetween();
}

.menu {
   display: flex;
   align-items: center;
   gap: 40px;
   position: relative;
}

.menu__link {
   @include font();
   color: #4F4F4F;
}

.menu__item:first-child:after {
   content: url(../images/down.png);
   margin-left: 4px;

}

.nav-search {
   position: relative;

   &__form {
      .nav-search__input {
         background: #F2F2F2;
         border: 1px solid #BDBDBD;
         border-radius: 10px;
         padding: 16px 20px;
         flex-basis: 100%;
      }

      .nav-search__input::placeholder {
         @include font();
         font-weight: 400;
         color: #828282;
      }
   }
}

.search {
   display: flex;
   width: 345px;
}

.nav-search__btn {
   position: absolute;
   top: 15px;
   right: 20px;
   border: none;
}