.main {
   padding: 75px 0 100px 0;
}

.submenu {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   gap: 15px;
   position: relative;
   margin-bottom: 30px;

   &__item {
      font-weight: 500;
      @include font();
      color: #BDBDBD;
   }
}

.back {
   display: flex;
   align-items: center;
   gap: 4px;
   margin-bottom: 44px;

   &__item {
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: #333333;
   }
}

.cards {
   @include flexBetween();
   flex-wrap: wrap;
   column-gap: 20px;
   row-gap: 46px;
   margin-bottom: 50px;

   .card {
      @include card();
   }
}

.card {
   position: relative;
}

.card__image {
   background: #FFFFFF;
}

.card__name {
   font-family: 'Gilroy', sans-serif;
   font-style: normal;
   font-weight: 600;
   font-size: 24px;
   line-height: 130%;
   color: #333333;
}

.card__category {
   display: block;
   font-family: 'Gilroy', sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 130%;
   color: #828282;
}

.card__price {
   font-family: 'Gilroy', sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 22px;
   line-height: 27px;
   color: #333333;
}

.radio {
   display: inline-block;
}

.form-buttons {
   margin-top: 25px;
}

.radio {

   label {
      font-weight: 500;
      @include font();
      color: #4F4F4F;
      background: #F9F9F9
   }

   input[type=radio]+label {
      border: 1px solid transparent;
      padding: 4px 11px;
      border-radius: 5px;
   }

   input[type=radio]:checked+label {
      background: #FFFFFF;
      border: 1px solid #3ECF5E;
      border-radius: 5px;
   }

}

.form-buttons {
   @include flexBetween();
   align-items: center;
}

.form-buttons__more-info {
   font-weight: 600;
   @include font();
   color: #FFFFFF;
   padding: 12px 32px;
   background: #3FCF5E;
   border: 1px solid rgba(5, 175, 52, 0.53);
   border-radius: 10px;
}

.form-buttons__basket {
   background: #FFFFFF;
   border: 1px solid #BDBDBD;
   border-radius: 10px;

   img {
      padding: 9px;
   }
}

.new-item {
   font-family: 'Gilroy';
   font-weight: 600;
   font-size: 14px;
   line-height: 17px;
   color: #FFFFFF;
   background: #333333;
   border-radius: 10px;
   padding: 9px 16px;
   max-width: 89px;
   position: absolute;
   top: 12px;
   right: 12px;
}

.page-numbers {
   display: flex;
   justify-content: center;
   gap: 20px;

   &__link {
      font-family: 'Roboto', sans-serif;
      font-size: 18px;
      line-height: 21px;
      color: #828282;
   }

   &__link:nth-child(2) {
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-size: 18px;
      line-height: 21px;
      font-weight: 700;
      color: #219653;
   }
}