@mixin font() {
   font-family: 'Gilroy', sans-serif;
   font-size: 18px;
   line-height: 21px;
}

@mixin flexBetween() {
   display: flex;
   justify-content: space-between;
}

@mixin card() {
   max-width: 315px;
   display: flex;
   flex-direction: column;
   gap: 25px;
   padding: 20px 20px 30px 20px;
   background: #F9F9F9;
   border: 1px solid #F2F2F2;
   box-shadow: -8px -8px 15px #FFFFFF, 8px 8px 15px rgba(0, 0, 0, 0.05);
   border-radius: 20px;
}